html,
body {
    height: 100%;
}

.main-slide {
    width: 100%;
    height: 100%;

    background-image: url(/img/asian_elephants.jpg);

    background-position: center;
    background-size: cover;
}

.max-150px {
    max-width: 150px;
    max-height: 150px;
}

.slide {
    height: 400px;
    width: 100%;

    background-position: center;
    background-size: cover;

    text-shadow: 0px 0px 2px black;
}

.slide-content {
    height: 100%;

    -webkit-backdrop-filter: brightness(0.8);
    backdrop-filter: brightness(0.8);
}

.software-updater-slide {
    background-image: url(/img/source_code.jpg);
}

.tools-slide {
    background-image: url(/img/tools.jpg);
}

.swarzedz-meteo-slide {
    background-image: url(/img/cloud.jpg);
}

footer {
    width: 100%;

    background-color: var(--bs-secondary-color);
    color: #ffffff;

    padding: 20px;
}
